@model EffectiveSpreadVM

@{
    ViewData["Title"] = "Effective Spread";
}

<h2>Effective Spread</h2>
<h4>Run symbols and save data if the drop down list is empty. Please contact IEX Trading if you have any questions about your data !</h4>
<hr />

<form asp-controller="EffectiveSpread" asp-action="EffectiveSpread" method="get">
    <select name="symbol">
        @foreach (var company in Model.Companies)
        {
            <option value=@company.symbol selected>@company.name</option>
        }
    </select>
    <input type="submit" value="Get Effective Spread" />
</form>


@if (Model.Current != null)
{
    var equity = Model.Current;
    <hr />
    <table>
        <tbody>
            <tr>
                <td>
                    Effective Spread Data
                    <table>
                        <tr>
                            <td>
                                Symbol
                            </td>
                            <td>
                                @equity.symbol
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Volume
                            </td>
                            <td>
                                @equity.volume
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Venue
                            </td>
                            <td>
                                @equity.venue
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Venue Name
                            </td>
                            <td>
                                @equity.venueName
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Effective Spread
                            </td>
                            <td>
                                @equity.effectiveSpread
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Effective Quoted
                            </td>
                            <td>
                                @equity.effectiveQuoted
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Price Improvement
                            </td>
                            <td>
                                @equity.priceImprovement
                            </td>
                        </tr>

                    </table>
                </td>
                <td>
                    @*<div>
                          <canvas id="myChart" height="500" width="800"></canvas>
                        </div>*@
                </td>
                <td>
                    <a asp-controller="EffectiveSpread" asp-action="SaveEffectiveSpreads" asp-route-symbol="@Model.Current.symbol">
                        <img src="~/img/button_save-data.png" />
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
}

<script>
    alertDbSave(@ViewBag.dbSuccessChart);
</script>