@model DividendVM

@{
    ViewData["Title"] = "Dividends";
}

<h2>Dividends</h2>
<h4>Run symbols and save data if the drop down list is empty. Please contact IEX Trading if you have any questions about your data !</h4>
<hr />

<form asp-controller="Dividend" asp-action="Dividend" method="get">
    <select name="symbol">
        @foreach (var company in Model.Companies)
        {
            <option value=@company.symbol selected>@company.name</option>
        }
    </select>
    <input type="submit" value="Get Dividends" />
</form>


@if (Model.Current != null)
{
    var equity = Model.Current;
    <hr />
    <table>
        <tbody>
            <tr>
                <td>
                    Dividends Data
                    <table>
                        <tr>
                            <td>
                                Symbol
                            </td>
                            <td>
                                @equity.symbol
                            </td>
                        </tr>
                        <tr>
                            <td>
                                EX Date
                            </td>
                            <td>
                                @equity.exDate
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Payment Date
                            </td>
                            <td>
                                @equity.paymentDate
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Record Date
                            </td>
                            <td>
                                @equity.recordDate
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Declared Date
                            </td>
                            <td>
                                @equity.declaredDate
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Amount
                            </td>
                            <td>
                                @equity.amount
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Type
                            </td>
                            <td>
                                @equity.type
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Qualified
                            </td>
                            <td>
                                @equity.qualified
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    @*<div>
                          <canvas id="myChart" height="500" width="800"></canvas>
                        </div>*@
                </td>
                <td>
                    <a asp-controller="Dividend" asp-action="SaveDividends" asp-route-symbol="@Model.Current.symbol">
                        <img src="~/img/button_save-data.png" />
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
}

<script>
    alertDbSave(@ViewBag.dbSuccessChart);
</script>