@model IEnumerable<API_Usage.Models.News>

@{
    ViewData["Title"] = "Latest News";

}
<html>
<head>
    <style>


        /* Create three equal columns that floats next to each other */
        .column {
            float: left;
            width: 100%;
            padding: 1px;
            height: 80px;
            position: relative;
            font-size: 100%;
        }

            .h1 {
                text-align: center;
                margin: 0;
                color: maroon;
            }


        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
           font-size:90%;
            border: 1px solid #dddddd;
            text-align: left;
            padding: 1px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <nav>
        <div>
            <a asp-area=" " asp-controller="Highlights" asp-action="TopGainers" class="Button"> Top Gainers </a><text> | </text>
            <a asp-area=" " asp-controller="Highlights" asp-action="TopLosers" class="Button"> Top Losers </a><text> | </text>
            <a asp-area=" " asp-controller="Highlights" asp-action="MostActive" class="Button"> Most Active </a><text> | </text>
        </div>
    </nav>
    <h2 class="h1">
        News Bulletin Board
        <br />
    </h2>

    <table class="column">

        <tbody>
            <tr style="font-weight:bold">
                <td> Headlines </td>
                <td> Source </td>
                <td> Last Published At </td>
                <td>Summary</td>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.headline)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.source)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.datetime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.summary)
                        <br>
                        For More Details refer:
                        <a href=@Html.DisplayFor(modelItem => item.url)>@Html.DisplayFor(modelItem => item.url)</a>

                    </td>


                </tr>
            }


        </tbody>

    </table>

</body>
</html>
<script>
    alertDbSave(@ViewBag.dbSuccessChart);
</script>
