@model IEnumerable<API_Usage.Models.TopLoser>

@{
    ViewData["Title"] = "TopLosers";

}
<html>
<head>
    <style>


        /* Create three equal columns that floats next to each other */
        .column {
            float: left;
            width: 100%;
            padding: 1px;
            height: 80px;
            position: relative;
            font-size: 100%;
        }

        .h1 {
            text-align: center;
            margin: 1px;
            color: maroon;
        }



        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            font-size: 90%;
            border: 1px solid #dddddd;
            text-align: left;
            padding: 1px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

    <nav>
        <div class="h1" style="font-size:120%">
            <br />
            <a asp-area="" asp-controller="Highlights" asp-action="News" class="Button">Latest News</a><text> | </text>
            <a asp-area="" asp-controller="Highlights" asp-action="TopGainers" class="Button">Top Gainers </a><text> | </text>
            <a asp-area="" asp-controller="Highlights" asp-action="MostActive" class="Button">Most Active </a>
        </div>
    </nav>
    <br />
    <h2 class="h1">
        Top Losers of the Day

    </h2>
    <br />
    <table class="column">
        <tbody>
            <tr style="font-weight:bold">
                <td>Symbol- CompanyName</td>
                <td>Primary Exchange</td>
                <td>Sector</td>
                <td>Open</td>
                <td>Close</td>
                <td>High</td>
                <td>Low</td>
                <td>Latest Price</td>
                <td>Latest Volume</td>
                <td>Change</td>
                <td>Change %</td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.symbol)
                        <br />
                        @Html.DisplayFor(modelItem => item.companyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.primaryExchange)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sector)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.open)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.close)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.high)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.low)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.latestPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.latestVolume)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.change)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.changePercent)
                    </td>

                </tr>
            }

        </tbody>
    </table>


    <td>
        <a asp-controller="Highlights" asp-action="PopulateTopLosers">
            <img src="~/img/button_save-data.png" />
        </a>
    </td>



</body>
</html>


<script>
    alertDbSave(@ViewBag.dbSuccessChart);
</script>